LanzadorWSMasivo/WebContent/WEB-INF/META-INF/schemas/schema-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://stpa/services" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="executePL">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="esquema" type="xs:string"/>
        <xs:element name="peticion" type="xs:string"/>
        <xs:element name="IP" type="xs:string"/>
        <xs:element name="NIF" type="xs:string"/>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="certificado" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="executePLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="return" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>